.container{
width: 80%;
margin: auto;
}
.contact-card
{
    display: flex;
    justify-content: space-between;
}
.intend{
    text-indent: 10px;
}
.flexbox-menu{
    display: flex;
    justify-content: space-between;
  
}
.title{
    color: rgb(27, 119, 240);
    font-size: 26;
}
.email, .mobile, .social-connect{
    width: auto;
    display: flex;
   
    
}
.background{
    width: 100%;
    height: 500px;
    display: flex;
    
}
.slide-1{
    width: 100%;
    height: 500px;
}
.flex-container{
    display: flex;
    padding-top: 30px ;
 
}
.video
.text{
    width: 50%;
    height: 100px;
   
   
}
.flex-img{
    width: 100%;
    
   
}
.text {
    text-align: center;
    
}
.para{
    text-align: left;
    padding-left: 30px;
}
.logo, .logo2
{
    display: flex;
    
}
.icon1, .icon2
{
     width: 20%;     
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: 10px;
    font-size: 30px;
    color: rgb(24, 47, 68);
    width: 70px;
    height: 70px;
    background: #f1f7fb;
    border-radius: 6px;
    margin: auto;
    transition: 0.5s;
    
    
}
.text1, .text2
{
    width: 80%;
    
}
.flex-facility
{
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
 
}
.facility1{
    width: 33.33%;
    padding: 10px 20px;
    border: solid 2px  rgb(182, 146, 146);
    border-top: 1px solid rgb(182, 146, 146);
    
   
    
   

}
.flex-facility:nth-child(1)
{
    border-left: 0px;
    
}
.flex-facility:nth-child(3)
{
    border-right:5px;
    border-bottom: 0px;
    border-right: 0px;
}
.progress{
    background-color: rgb(206, 250, 250);
    padding-top: 20px;
    padding-bottom: 20px;
}
.performance{
    display: flex;
      
}

.happy-client,
.project,
.flex-hours,
.hard-worker
{
    width: 25%;
    text-align: center;
    background-color: azure;
    padding: 10px 100px;
    border: 2px 2px;
    box-shadow: 0px 5px 10px rgba(0,0 ,0,0.25); 
    margin: 5px;
}


.service{
    padding-top: 50px;
    padding-bottom: 50px;
}.service-list{
    display: flex;
    flex-wrap: wrap;
}
.service-list .service-box
{
    width: 33.33%;
      
}
.allign-ser{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}
.service-info{
    margin: 15px;
}
.service-info
.service-icon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(182, 146, 146);
   text-align: center;
    margin: 0 auto 25px;
}

.service-icon{
    font-size: 30px;
    color: rgb(24, 47, 68);
}
.service-text h4{
    text-align: center;
   
}
.service-text{
    text-align: center;
}