.container{
width: 80%;
margin: auto;
}
.contact-card
{
    display: flex;
    justify-content: space-between;
}
.intend{
    text-indent: 10px;
}
.flexbox-menu{
    display: flex;
    justify-content: space-between;
  
}
.title{
    color: rgb(27, 119, 240);
    font-size: 26;
}
.email, .mobile, .social-connect{
    width: auto;
    display: flex;
   
   
    
}
.background{
    width: 100%;
    height: 500px;
    display: flex;
    
}
.slide-1{
    width: 100%;
    height: 500px;
}
.flex-container{
    display: flex;
    padding-top: 30px ;
 
}
.video
.text{
    width: 50%;
    height: 100px;
   
   
}
.flex-img{
    width: 100%;
    
   
}
.text {
    text-align: center;
    
}
.para{
    text-align: left;
    padding-left: 30px;
}
.logo, .logo2
{
    display: flex;
    
}
.icon1, .icon2
{
     width: 20%;     
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: 10px;
    font-size: 30px;
    color: rgb(24, 47, 68);
    width: 70px;
    height: 70px;
    background: #f1f7fb;
    border-radius: 6px;
    margin: auto;
    transition: 0.5s;
    
    
}
.text1, .text2
{
    width: 80%;
    
}
.flex-facility
{
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
 
}
.facility1{
    width: 33.33%;
    padding: 10px 20px;
    border: solid 2px  rgb(182, 146, 146);
    border-top: 1px solid rgb(182, 146, 146);
    
   
    
   

}
.flex-facility:nth-child(1)
{
    border-left: 0px;
    
}
.flex-facility:nth-child(3)
{
    border-right:5px;
    border-bottom: 0px;
    border-right: 0px;
}
.progress{
    background-color: rgb(206, 250, 250);
    padding-top: 20px;
    padding-bottom: 20px;
}
.performance{
    display: flex;
      
}

.happy-client,
.project,
.flex-hours,
.hard-worker
{
    width: 25%;
    text-align: center;
    background-color: azure;
    padding: 10px 100px;
    border: 2px 2px;
    box-shadow: 0px 5px 10px rgba(0,0 ,0,0.25); 
    margin: 5px;
}


.service{
    padding-top: 50px;
    padding-bottom: 50px;
}.service-list{
    display: flex;
    flex-wrap: wrap;
}
.service-list .service-box
{
    width: 33.33%;
      
}
.allign-ser{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}
.service-info{
    margin: 15px;
}
.service-info
.service-icon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(182, 146, 146);
   text-align: center;
    margin: 0 auto 25px;
}

.service-icon{
    font-size: 30px;
    color: rgb(24, 47, 68);
}
.service-text h4{
    text-align: center;
   
}
.service-text{
    text-align: center;
}
.port-container{
    display: flex;
    flex-wrap: wrap; 
}
.portfolio{
    background: rgb(145, 231, 234);
}
.portfolio-image{
    padding-top: 0px;
    padding-left: 20px;
    margin-top: 30px;
    position: relative;
    width: 30.33%;    
    overflow: hidden;  
   
}
.portfolio-img{
    width: 100%;
    overflow: hidden;
    
    
   
}
.port-img{
    display: block;
    width: 100%;
    height: auto;
   }
.portfolio-img:hover img
{
    transform: scale(1.1);
}
.portfolio-text{
    position: absolute;
    top: 0;
    bottom: 0;   
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    opacity: 0;
    transition: all 0.5s ease;
    
}
.portfolio-text h4{
    color: rgb(164, 236, 238);
    font-size: 20px;

}
.portfolio-text p{
    color: #fff;
    font-size: 20px;

}
.portfolio-image{
    transform: translateY(-20px);
    transition: all 0.7s ease;   
    opacity: 1; 
    overflow: hidden;
}
.portfolio-image:hover .portfolio-text{
    transform: translateY(0px);
    background-color:rgba(0,0,0,0.5); 
    opacity: 1;
}

.portfolio-icon a {
    
    color: #a8cff0;
    margin: 0 4px;
    line-height: 0;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
   
}
.portfolio-icon a:hover  {
    transition: all 0.6s ease ;  
    color: aqua;
    background: #000;
}
.our-team{
    padding-top: 50px;
    overflow: hidden;
}
.team-container{
    width: 100%;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}
.flex-team{
    width: 25%;
    height: auto;
    position: relative;
    margin: 10px;
    overflow: hidden;
   
   
    
}
.flex-team:hover img{
    transition: all 0.5s ease ;
    transform: scale(1.1);
}


.team-box1 img{
    width: 100%;
    height: auto;
    padding-right: 0;
    margin: auto;
    
}
.team-text {
    position: absolute;
    top: 155px;
    line-height: 5px;
    bottom: 1px;
    color:white;
    margin-left: 25px;
    background-color: rgba(0,0 ,0,0.75);
    width: 80%;
    height: 175px;
    text-align: center;
    border-radius: 5px;
    
   
}
.h-line{
    width: 120px;
    padding-left: 50px;
    align-items: center;
}
.team-social  {
   font-size: 20px;
   padding-top: 15px;
    
   
   
}
.team-social a{
    text-decoration: none;
    color: #09d9f0;
}
  .team-social a:hover {
    transition: all 0.5s ease;
    color: azure;
  
}
.frequently-qa{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top:30px ;
  
}
.flex-faq{
    width: 50%;
    height: auto;
    text-align: left;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
  }
  .faq{
    background-color: rgb(187, 243, 243);
    padding-top: 25px;  
    margin-top: 50px;
}
.flexbox-faq{
    margin-left: 10px;
}
.flex-contactbox{
    margin-top: 80px;
}
.contacu-us{
    margin-top: 50px;
}
.flex-contact{
    width: 100%;
    display: flex;
}
.flex-addres{
    width: 50%;
    height: 200px;
    box-shadow: 0  0 10px;
}

.flex-icon,
.mail-icon,
.call-icon{
    display: flex;
    border-radius: 50%;  
    width: 50px ;
    height: 50px;
    background-color: #f6ffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
  margin-top: 20px;
    border: 2px dotted #090f15;
    font-size: 26px;
    color: rgb(5, 114, 247);
}
.contact-address{
    text-align: center;
    line-height: 5px
}
.mail-us{
    margin-left: 20px;
    width: 25%;
    height: 200px;
    box-shadow: 0  0 10px;
}

.call-us{
    margin-left: 20px;
    width: 25%;
    height: 200px;
    box-shadow: 0  0 10px;
}

.forms
{
  width: 100%;
  padding-top: 30px;
  display: flex;
}
.form-mail{
    height: 32px;
    width: 50%;
}

.form-name {
    height: 32px;
    width: 50%;
}


#subject{
    padding: 5px;
    width: 100%;
    padding-bottom: 10px;
}
.message
{    
    padding: 10px;
}
.button{
    display: flex;
    justify-content: center;
    border: 2px;
    width: auto;
}
.button1
{
    padding: 10px 20px;

background-color: rgb(14, 49, 243);  
}
.footer{
    width: 100%;
    background: rgb(220, 223, 223);
   margin-top: 75px;
   height: 300px;
}
.flex-footer{
    display: flex;
    flex: 1 0 0;
    
}
.footer-icon a{
    text-decoration: none;
    display: flex;
    display: inline-flex;
    border-radius: 50%;  
    width: 35px ;
    height: 35px;
    background-color: #919e9e;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    margin: 0 auto ;
    font-size: 20px;
    color: rgb(5, 114, 247);
}
.footer-link{
    text-decoration: none;
}
.newsletter{
    width: 35%;
    padding-left: 20px;
}
.a1{
   
    font-size: 18px;
}
.a2{
    font-size: 18px;
    background-color: #09d9f0;

}
