.inline a{
    display: block;  
    padding-top: 40px;
    width: 100%;
    height: 50px;
 
}
.flex{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.box {
    width: 25%;
    height: 100px;
    outline: 1px solid red;
  
  }
  .flex1{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

  .flex2{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content:space-around;
  }
  .flex-start{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content:start;
    

    }
    .flex-end{
        padding-top: 50px;
        width: 100%;
        display: flex;
        justify-content:end;
        
    
        }
       
   