@import url(reset.css);
 @import url(//fonts.googleapis.com/css?family=Open+Sans);
 @font-face {
    font-family: 'disco 3';
    src:  url('../2toon/DISCO1__.TTF') format('TTF'),
          url('../2toon/Disco3.ttf') format('TTF');
  }

.txt h1{
    color: aqua !important;
  
}
 .txt h1{
    color: rgb(198, 38, 251);
    font-weight: 600;
    font-size: 32px;
} 
@media( max-width :400){

}
